# --- APPLICATION SETTINGS ---
APP_PORT=4000
NODE_ENV=development
WATCHPACK_POLLING=true
JWT_SECRET=XXXX

# --- DATABASE SETTINGS (MySQL) ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_NAME=XXXX
DB_PASSWORD=XXXX

# --- OWNER DEAFULT USER ---
OWNER_EMAIL=XXXX
OWNER_PASSWORD=XXXX

# --- Cloudflare R2 ---
R2_ACCOUNT_ID=XXXX
R2_BUCKET_NAME=XXXX
R2_PUBLIC_URL=XXXX
R2_BUCKET_ACCESS_KEY_ID=XXXX
R2_BUCKET_SECRET_ACCESS_KEY=XXXX